.header {
  position: relative;
  overflow: hidden;
  height: 162px;
}

.title{
  font-weight: 400;
}

.location, .phone, .wifiPassword {
  font-weight: 100;
  color: grey;
  cursor: pointer;
  text-decoration: none;
}

.elementsContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.headerImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
}

img {
  max-width: 100%;
  height: auto;
  position: relative;
}

.layout {
  background-color: white;
  padding: 1.5rem 1rem 0rem 1rem;
  border-radius: 2rem;
  margin-top: -2rem;
  z-index: 1;
  position: relative;
}

.main_contact {
  margin: 0.8rem 0rem 0.8rem 0rem;
  line-height: 1.5rem;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.footer {
  text-align: center;
  padding-bottom: 1rem;
}
